fastapi==0.136.3
uvicorn==0.48.0
python-dotenv==1.2.2
pydantic==2.10.1
celery==5.6.3
redis==8.0.0
sqlalchemy==2.0.50
psycopg[binary]
pgvector==0.4.2
pypdf
pandas
openpyxl
langchain-text-splitters
python-multipart
langchain-nvidia-ai-endpoints
python-jose[cryptography]==3.5.0
passlib[bcrypt]==1.7.4
slowapi==0.1.9